.body{
   /* background-image: url('https://64.media.tumblr.com/c100c5b44c722a1ad3eec4d4c66a7a99/tumblr_p1afqreV8B1whifb8o1_640.gifv');
   background-color: #c9c0bb; */
background-color: #98afc7;
    background-size: cover;
}